{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-lg-12 col-sm-6 col-xs-12 bg-light text-center product-titre mt-5 mb-5">
            <h3 class="h3 font-weight-normal text-center">{{ product.titre }}
            </h3>
            <div class="text-center bg-white">
                <img src="{{ asset('img/'~product.photo) }}" alt="{{ product.titre }}" class="img-responsive mx-auto" width="200px" />
            </div>
            <div class="bg-light product-desc">
                {{product.description}}
            </div>
            <div class="text-info">{{product.prix}} €</div>
            <div class="p-2">
                <a href="{{ asset('product/'~product.id) }}" role="button" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
