<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />

        {% endblock %}
    </head>
    <body>
        {% block menu %}
        <header>
            <div class="row">
                <div class="col-12">
                    <div class="panel-heading text-center font-small bg-secondary text-white">Livraison offerte jusqu'au 22/12/2098</div>

                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">ESHOP <span class="sr-only">(current)</span></a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li class="nav-link active text-white ml-3 mr-2">
                                    Bonjour {{ app.user.username }}
                                </li>
                                {% endif %}
                                <div class="dropdown">
                                    <button class="btn btn-primary ml-4 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Mon Compte
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>
                                        <a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>
                                        {% endif %}
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a class="dropdown-item" href="/profil">Mon profil</a>
                                        <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block body %}
        {% endblock %}

        {% block footer %}
        <!-- Footer -->
        <footer class="footer font-small bg-primary pt-4 text-white">
            <!-- Footer Links -->
            <div class="container text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">
                        <!-- Content -->
                        <h5 class="text-uppercase">Footer</h5>
                        <p>Ce magnifique footer pour vous donner les liens essentiels qui n'ont pas été retenus pour le header</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Customer service</h5>

                        <ul class="list-unstyled footer-link-color">
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Terms</a>
                            </li>
                            <li>
                                <a href="#!">Delivery</a>
                            </li>
                            <li>
                                <a href="#!">Payment</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Service client</h5>

                        <ul class="list-unstyled footer-link-color">
                            <li>
                                <a href="#!">A propos</a>
                            </li>
                            <li>
                                <a href="#!">CGV</a>
                            </li>
                            <li>
                                <a href="#!">Livraison</a>
                            </li>
                            <li>
                                <a href="#!">Paiement</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-2 bg-secondary">© 2018 Copyright
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        {% endblock %}
        {% block javascripts %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
